################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################
/ACO.sln
/ACO.vcxproj
/ACO.vcxproj.filters
/ACO.vcxproj.user
/.vs/ACO/v15/Browse.VC.opendb
